[Unit]
Description="Gunicorn application server handling {{ project_name }}"
After=network.target

[Service]
User=kiddo
Group=www-data
WorkingDirectory={{ install_root }}/{{ project_name }}
ExecStart=/usr/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 {{ wsgi_module }}:application

[Install]
WantedBy=multi-user.target


